{
  "plugins": [ "babel-plugin-remove-graphql-queries" ],
  "presets": [
    "@babel/preset-typescript",
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "reactImportSource": "theme-ui"
      }
    ]
  ]
}
