SITE_URL=localhost:8001
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=vor-postgres
DB_PORT=5432

#MAILGUN_DOMAIN=**********
#MAILGUN_PRIVATEKEY=**********

MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
MINIO_SECRET_KEY=wJalrXUtnFEMIK7MDENGbPxRfiCYEXAMPLEKEY
MINIO_ENDPOINT=vor-minio:9000
MINIO_BUCKET_NAME=media
MINIO_BUCKET_LOCATION=us-east-1

IMGPROXY_URL=https://192.168.0.13:10000
IMGPROXY_KEY=66fce3e972019b91a39b0a0b89bb745fe3bf833196e1fec7248d1319859f0ab521e246f9b6496f68860c42bac05fde469e5c197d06aa466efca27a572109269d
IMGPROXY_SALT=533fe9fe0b8e7b27222f4818804af3b9add5e48e617f604316324281d186de71ced23c6d2ad3d0e2ed7e94c92fab0c120e2847ca92b7c3106fd9a56d4385c277

GA_CLIENT_EMAIL=
GA_PRIVATE_KEY=

PADDLE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----"