.idea
tmp
frontend/cypress/videos
frontend/cypress/screenshots
coverage.txt
test_result
.env
*.iml
node_modules
.cache
package-lock.json

# Local Netlify folder
.netlify

# Use zero install
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions