.idea
tmp
frontend/cypress/videos
frontend/cypress/screenshots
coverage.txt
test_result
.env
*.iml
node_modules
.cache
package-lock.json

# Local Netlify folder
.netlify

# don't use zero install (causes repository size to explode)
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*