.base {
  @apply py-2 px-6 rounded text-onPrimary bg-primary text-sm border shadow-xs;

  border-color: rgba(0, 0, 0, 0.1);
  touch-action: manipulation;
}

.outline {
  @apply bg-white border border-gray-300 shadow-none;
}

.small {
  @apply py-1 text-sm;
}

.icon {
  @apply px-1 py-1;
}

.base:disabled {
  @apply opacity-50;
}
