@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(/google-fonts/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2)
      format("woff2"),
    url(/google-fonts/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0d.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(/google-fonts/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2)
      format("woff2"),
    url(/google-fonts/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhv.woff)
      format("woff");
  font-display: swap;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  user-select: none;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

button::-moz-focus-inner {
  border: 0;
}

@media only screen and (max-width: 640px) {
  .woot-widget-bubble {
    bottom: 68px !important;
  }
}

.has-unread-view {
  padding-left: 16px;
  padding-bottom: 68px;
}

@media only screen and (min-width: 640px) {
  .has-unread-view {
    padding-bottom: 0;
  }

  .woot-widget-holder {
    margin-left: 48px;
  }
}
