html,
body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    border: none;
    outline: none;
    user-select: none;
}

button::-moz-focus-inner {
    border: 0;
}