name: Release

on:
  push:
    branches:
      - master

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Commit files
        run: |
          git config --local user.email "gilfoyle@obserfy.com"
          git config --local user.name "Gilfoyle"
      - run: "npx standard-version -m 'chore(release): %s' --releaseCommitMessageFormat --no-verify"
      - name: Push changes
        if: steps.cache-deps.outputs.cache-hit != 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT}}
          branch: ${{ github.ref }}